:root {
    --custumColor: #0044ff;
    --primaryText: #8B458C;
    --purple: #710A73;
    --blueYoung: #f4f7fc;
    --red: #ff0000;
    --holo: #acacac;
    --white: #fff;
    --black: #222;
    --primaryColor: #fff;
    --seconddaryColor: #707070;
  }

